// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,600,600i,700');
.file-upload {
  .image_preview {
    width: 120px;
    // height: 100%;
    background: center no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    height: 120px;
    &:before {
      content: "";
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url("../images/placeholder.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    .image-remove-handler {
      display: inline-block;
      width: 30px;
      height: 30px;
      background: #333;
      color: #fff;
      position: absolute;
      right: 0;
      bottom: 0;
      /* padding: 5px; */
      display: none;
      justify-content: center;
      cursor: pointer;
      align-items: center;
    }
    &.has-image {
      &:before {
        display: none;
      }
      .image-remove-handler {
        display: flex;
      }
    }
  }

  a[data-action] {
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    transition: color 0.2s;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #000;
    padding: 4px 4px;

    i {
      width: 1.25em;
      text-align: center;
    }

    &.disabled {
      opacity: 0.35;
      cursor: default;

      &:hover {
        color: #555;
      }
    }
  }
  h6 {
    margin-bottom: 15px;
  }
  .image_picker_wrap {
    overflow: hidden;
    position: relative;
    .drop_target,
    .settings_actions {
      float: left;
    }
  }
  span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .drop_target {
    position: relative;
    cursor: pointer;
    background: transparentize($color-dark, 0.96);
    border-radius: 3px;
    width: 100%;
    height: 120px;
    padding: 0;
    margin: 0;
    transition: all 0.2s;
    background: #fdfcfd;
    padding: 15px;
    border-radius: 3px;
    border: 2px dashed #dedade;

    img {
      padding-right: 10px;
      margin-top: -3px;
    }
    input[type="file"] {
      visibility: hidden;
    }

    &:hover,
    &.dropping {
      background: #ddd;
      border-top-color: darken(#ddd, 10%);
    }

    &:hover:before,
    &.dropping:before {
      color: fadeout(#000, 40%);
    }

    &.dropped {
      .image_preview {
        &:before {
          display: none;
        }
      }
    }
  }
  .image_picker {
    p {
      margin-top: 15px;
    }
  }
}

.splash-logo-area {
  margin-top: 50px;
  .switch {
    position: relative;
    p {
      position: absolute;
      top: 0;
      left: 50px;
    }
  }
  .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }

  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 40px;
    height: 20px;
    background-color: rgb(158, 158, 158);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
  }

  input.cmn-toggle-round-flat + label:before,
  input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }

  input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;

    background-color: rgb(158, 158, 158);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
  }

  input.cmn-toggle-round-flat + label:after {
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 18px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s;
  }

  input.cmn-toggle-round-flat:checked + label {
    background-color: #f64044;
  }

  input.cmn-toggle-round-flat:checked + label:before {
    background-color: #f64044;
  }

  input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 20px;
    background-color: #fff;
  }
}
.background-color {
  position: relative;
  padding: 30px 0px 0px;
  h6 {
    margin-bottom: 20px;
  }
  .box-open {
    display: block;
  }
  .color-picker-pop {
    width: 324px;
    height: 375px;
    position: absolute;
    z-index: 1;
    display: none;
    right: 0;
    background: #fff;
    top: -120px;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(199, 199, 199, 1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(199, 199, 199, 1);
    box-shadow: 0px 0px 8px 1px rgba(199, 199, 199, 1);
    ul {
      padding-right: 0px;
      li {
        width: 49%;
        padding: 20px 15px;
        text-align: center;
      }
    }
    .tab-content {
      padding: 20px;
      h6 {
        margin-bottom: 20px;
        margin-top: 30px;
        font-weight: 400;
        font-size: 16px;
      }
      .color-circle {
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50%;
        margin: 0px 13px 10px 10px;
      }
      .pink {
        background: #e66d69;
      }
      .brown {
        background: #5b3634;
      }
      .light-gray {
        background: #749494;
      }
      .light-blue {
        background: #04abea;
      }
      .blue-transparent {
        background: #09e2fb;
      }
      .dull-green {
        background: #949c66;
      }
    }
    .add-color-button {
      a {
        width: 260px;
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 20px;
        border: 1px solid #333333;
        color: #000000;
        border-radius: 5px;
        height: 30px;
        line-height: 30px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
  }
}

.custom-splash-wrapper{
  
  .splash-logo-area{
    // float: left;

  }
}
.custom-splash-screen {
  position: relative;
  .gray-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 4;
    display: none;
  }
  input:checked + .gray-overlay {
    display: block;
  }
}
.select-box-area {
  span {
    color: #f64044;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
  }
  select {
    padding: 5px 5px 8px 0;
    border: none;
    border-bottom: 1px solid #f64044;
    width: 100%;
    padding-left: 0px;
    &:focus {
      outline: none;
    }
  }
}

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}
.content-area {
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}
.modal.fade {
  opacity: 1;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  transform: translate(0);
}
.captcha-outer {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
.top-padding {
  margin-top: 80px;
}
.text-wrapper {
  max-width: 670px;
  .button-outer {
    font-family: "Josefin Sans", sans-serif;
    a {
      display: inline-block;
      color: #333;
      border: 1px solid #333;
      padding: 2px 0px;
      border-radius: 4px;
      font-size: 16px;
      margin-right: 5px;
      width: 170px;
      text-align: center;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    :hover {
      background: #000;
      color: #fff;
    }
  }
  .app-link {
    img {
      max-width: 160px;
    }
  }
}
.error-message {
  font-size: 12px;
  color: #8d647b;
  display: none;
}
.bottom-save-section {
  background: #f8f8f8;
  padding: 40px 20px;
  margin-top: 80px;
  padding-left: 0 ;


  padding: 40px 20px 40px 50px;
  margin-top: 80px;
  margin-left: -50px;
 
  .push-notification-button {
    width: 180px;
  }
  ul {
    margin-bottom: 0px;
    padding-left: 0px;
    li {
      // font-family: 'Josefin Sans', sans-serif;
      // display: inline-block;
      // border: 1px solid;
      // border-radius: 6px;
      // width: 140px;
      // text-align: center;
      // -webkit-transition: all 0.5s ease;
      // -moz-transition: all 0.5s ease;
      // -ms-transition: all 0.5s ease;
      // -o-transition: all 0.5s ease;
      // transition: all 0.5s ease;
      display: inline-block;
      a {
        color: #333333;
        display: block;
        padding: 5px 25px;
      }
      &:last-child {
        float: right;
        width: 140px;
        text-align: center;
        a {
          padding: 5px 25px;
        }
      }
      &:hover {
        // background: #333333;

        a {
          color: #fff;
        }
      }
    }
  }
}

.button-bottom {
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  border: 1px solid;
  border-radius: 6px;
  width: 140px;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: transparent;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 40px;
  &:hover {
    background: #333333;
    color: #fff;
  }
}
.color-round {
  width: 40px;
  height: 40px;
  background: #f64044;
  display: inline-block;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
.color-round-outer {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 25px;
}

.meroon {
  background: #6ab3ac;
}
.blue {
  background: #6ac0e3;
}
.green {
  background: #6ca95c;
}
.violet {
  background: #9835de;
}
.add-color {
  background: #fff;
  border: 1px solid #000;
  position: absolute;
  img {
    width: 100%;
    padding: 10px;
  }
}
.selected {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 46px;
    height: 46px;
    border: 1px solid #f64044;
    border-radius: 50%;
    top: -3px;
    left: -3px;
    right: 0;
    bottom: 0;
  }
}
.padding-top-minus {
  padding-top: 0px;
}
header {
  position: absolute;
  left: 0;
  right: 0;
  .head_in {
    padding: 30px 0px;
    .logo {
      max-width: 132px;
      display: inline-block;
      img {
        width: 100%;
      }
    }
    .contact-link {
      display: inline-block;
      float: right;
      a {
        color: #fff;
        font-size: 18px;
        border: 1px solid #fff;
        padding: 8px 20px;
        border-radius: 4px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
  }
}
.container-lg {
  padding-top: 180px;
}
.landing-full-width-bg {
  background-image: url(/assets/images/background-landing.jpg) !important;
  .bottom-copyright {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    p {
      color: #8f8f8f;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
}
.landing-outer {
  .slide-content {
    padding-left: 0px;
    padding-right: 0px;
    .description {
      h2 {
        margin-bottom: 30px;
      }
    }
    .image-wrapper {
      margin-right: 10px;
      width: 60%;
    }
  }
  .get-your-app {
    margin: 40px 0px;
    input {
      background: 0 0;
      border: 1px solid #fff;
      border-radius: 3px;
      font-size: 16px;
      color: #fff;
    }
    .form-group {
      width: 65%;
      label {
        top: -12px;
        color: #fff;
        left: 25px;
        background: #501a31;
        font-size: 16px;
        padding: 0px 5px;
        font-family: "Open Sans", sans-serif;
      }
    }
    .btn-primary {
      padding: 12px 20px;
      background: #f64044;
      color: #fff;
      img {
        width: 20px;
      }
    }
  }
}
.authentic-failed-outer {
  min-height: 100vh;
  background: #fff;
  .failed-message {
    width: 550px;
    display: block;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    img {
      max-width: 57px;
      margin-bottom: 60px;
    }
    h3 {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      color: #000;
      font-weight: 500;
      margin-bottom: 20px;
    }
    p {
      color: #7f7f7f;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
    }
  }
  .button-area {
    margin: 30px 0px;
    a {
      width: 170px;
      display: inline-block;
      color: #333333;
      border: 1px solid #333333;
      padding: 5px 0px;
      border-radius: 4px;
      margin: 0px 5px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}
.alert-success {
  width: 570px;
  position: absolute;
  right: 50px;
  bottom: 50px;
  padding: 25px;
  .alert-heading {
    font-size: 18px;
    font-weight: 800;
  }
  .close {
    right: 10px;
    font-size: 34px;
    position: absolute;
    top: 20px;
    font-weight: 100;
  }
  p {
    margin-bottom: 0px;
    font-size: 14px;
  }
}
.modal.fade {
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
}
.form-control {
  border-radius: 0px;
}
.modal-content {
  .form-group {
    margin-bottom: 40px;
  }
  .modal-header {
    border-bottom: none;
    h5 {
      font-weight: 700;
    }
    .close {
      margin-top: -2px;
      position: absolute;
      right: 10px;
      top: 10px;
      background: none;
      box-shadow: none;
      border: none;
      font-size: 20px;
    }
  }
}
.btn-default {
  border: 1px solid #000;
  background: none;
  padding: 5px 30px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:hover {
    background: #000;
    color: #fff;
  }
}
.error {
  color: #e74c3c;
  top: 40px !important;
  font-size: 12px !important;
}

/* The container */
.checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  label {
    margin-bottom: 0px;
  }
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #f64044;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
