form.form {
  
//   max-width: 670px;
  opacity: 1;
}

.form-group {
  position: relative;
  margin-bottom: 30px;
  input {
      font-size: 16px;
      padding: 10px 10px 10px 5px;
      display: block;
      width:100%;
      border: none;
      border-bottom: 1px solid $color-red;
  }

  input:focus {
      outline: none;
  }

  label {
      color: $color-red;
      font-size: 14px;
      font-weight: 500;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
      
  }

  /* active state */
  input:focus~label,
  input:valid~label {
      top: -20px;
      font-size: 14px;
      color: $color-red;
  }

  .bar {
      position: relative;
      display: block;
      width: 300px;
      &:before, 
      &:after {
        content: '';
        width: 0;
        bottom: 1px;
        position: absolute;
        background: $color-red;
        transition: 0.2s ease all;
      }
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
  }
  /* active state */
  input:focus~.bar:before,
  input:focus~.bar:after {
      width: 50%;
  }

  .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
  }

  /* active state */
  input:focus~.highlight {
      animation: inputHighlighter 0.3s ease;
  }
}

@-webkit-keyframes inputHighlighter {
    from {
        background: $color-red;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: $color-red;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: $color-red;
    }

    to {
        width: 0;
        background: transparent;
    }
}
