.navbar {
    width: 80px;
    left: 0;
    position: fixed;
    border-radius: 0;
    height: 100%;
    padding: 0;
    background: linear-gradient(to bottom, #3D1A3E 0%, #966C82 100%);

    .nav-tabs {
        border: 0;
    }

    li {
        float: none;
        width: 80px;
        text-align: center;
        position: relative;
		padding-top: 25px;
        padding-bottom: 25px;
        a{
            display: block;
        }
        span {
            color: transparentize(#fff, .5);
            @include font-size(32px);
        }
        &:after {
            content: '';
            position: absolute;
            width: 2px;
            height: 0px;
            background: $color-red;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all ease 0.3s;
        }
        &.nav-brand {
        	.icon {
        		color: $color-red;
        	}
        	&:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparentize(#000, .7);
                left: 0;
                top: 0;
                z-index: -1;
            }
        }
        &.active {
            span {
                color: #fff;
            }
            &:after {
                height: 50px;
            }
            &.nav-brand {
                &:after {
                    display: none;
                }
            }
        }
    }

    .nav-brand {
        span.icon {
            color: $color-red;
        }
    }
}

.nav-tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.tab-content {
    display: none;
    background: #fff;
    padding: 0;
}

.tab-content.active {
    display: block;
}


.tab-content {
	.nav-tabs {
		padding-left: 0px;
		padding-right: 25px;
		li {
		    display: inline-block;
		    padding-left: 25px;
		    padding-right: 25px;
		    padding-top:30px;
		    padding-bottom: 30px;
            cursor: pointer;
            position: relative;
            label{
                margin-bottom: 0px;
                cursor: pointer;
                color:#000;
            }
            &.active{
                &:after{
                    background-color: #f64044;
                    height: 2px;
                    position: absolute ;
                    right: 0 ;
                    left: 0 ;
                    bottom: -1px;
                    content: "" ;
                    display: block ;
                }
            }
		}
	}
	.tab-content {
		// padding-top: 50px;
		// padding-left: 50px;
        // padding-right: 50px;
        .tab-contents-wrapper{
            padding-left: 50px;
        }
	}
}