.slider {
    margin: 15px auto;
    padding: 20px 0;
}

.slick-slider button {
    display: none !important;
}

.slick-slide {
    color: #333;
    padding: 40px 0;
    font-size: 1.25em;
    font-family: "Verdana";
    text-align: center;
    pointer-events: none;
}
.slide-content {
	ul {
		list-style: none;
	}
}
.slick-slide .desc {
    opacity: 0;
}

.slick-slide .desc>* {
    transition: all 900ms ease;
}

.slick-slide {
	.desc {
		h2 {
		    position: relative;
		    left: 50px;
		    line-height: 1;
		    color: #fff;
		}
		 p {
		    position: relative;
		    top: 50px;
		    opacity: 0;
		}
	}
}

.slick-slide img {
    width: 100%;
    max-width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    padding: 1px;
    background: #EAEAEA;
    margin: 10px 0;
    width: 100px;
    height: 3px;
}

.slick-dots li.slick-active {
    background: #000;
}

.slick-dots button {
    display: none;
}

.slick-slide {
    opacity: 0.2;
    transition: all 300ms ease;
}

.slick-current {
    opacity: 1;
    transform: scale(1.1);
}

.slick-current .desc {
    opacity: 1;
}

.slick-current {
	.desc {
		h2 {
    		left: 0;
    	}
    	p {
    		top: 0;
    		opacity: 1;
		}
    }
}

.slide-content {
    display: flex;
    text-align: left;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    .image-wrapper {
        width: 80%;
        margin-right: 100px;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.description {
    h2 {
        font-weight: bold;
        span {
            color: $color-red;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
        max-width: 420px;
    }
    li {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    span.icon {
        width: 45px;
        height: 45px;
        background: $color-red;
        display: block;
        border-radius: 50%;
        line-height: 45px;
        text-align: center;
        margin-right: 10px;
    }
}

.feature-text {
    @include font-size(16px);
}