.home-screen-ios {
  position: relative;
  .app-icon-home {
    width: 51px;
    height: 69px;
    position: absolute;
    right: 22px;
    top: 484px;
    transition: all ease .3s ;
    transform: scale(0) ;
    .app-icon {
      width: 51px;
      height: 51px;
      border-radius: 13px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #fff ;
    }
  }
  &.has-app {
    .app-icon-home {
      transform: scale(1);
      transform-origin: center ;
    }
  }
  .app-name-home {
    display: block;
    width: 100%;
    .app-name {
      font-size: 11px;
      color: $light;
      padding: 3px 0 0 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center ;
      text-transform: capitalize ;
    }
  }
}
.preview-icon{
  width: 90px;
  height: 90px;
  background-size: contain;
  z-index: 1;
  position: relative;
}
.file-upload {
  max-width: 720px;
}