.splash-ios {
  width: 100%;
  height: 100%;
  display: flex;
  transition: all ease 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column ;

  .app-name-splash{
    font-size: 20px;
    font-weight: bolder;
    text-transform: capitalize;
    color: #fff;
    z-index: 99;
  }

  .splash-logo {
    width: 150px;
    height: 150px;
    display: none ;
    // opacity: 0;
    transition: all ease 0.3s;
    background-position: center;
    background-size: contain;
    transform: scale(0);
    transform-origin: center;
    position: relative;
    z-index: 5;
    &.has-splash {
      display: flex ;
      opacity: 1;
      transform: scale(1);
    }
  }

  .app-name-splash{
    &.has-splash {
      display: none ;
    }
  }
  .splash-bg{
    display: flex;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    // background: #776767;
    z-index: 1;
    background-repeat: repeat ;
    background-size: contain;
    background-repeat: no-repeat ;
  }
}

.color-round {
  position: relative;

  &.color-active:after {
    position: absolute;
    border: solid 1px $light;
    right: 3px;
    left: 3px;
    bottom: 3px;
    top: 3px;
    display: block;
    border-radius: 50%;
    display: block;
    content: "";
  }
  &.popup-pellete:after{
    display: none !important ;
  }
}
.more-color{
  position: relative;
  
  &[aria-expanded="true"]{
   img{
    transition: all ease .2s;
    transform: rotate(40deg);
    transform-origin: center ;
   }
    &+.color-picker-pop{
      display: block ;
      position: absolute ;
    }
  }
}