<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Appify</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="WRG">
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon-retina-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon-retina-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon-standard-ipad.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon-standard-iphone.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/preview.css">
</head>

<body id="app">
    
<main id="main">
    <div class="tab-wrapper">
       <ul class="navbar nav-tabs">
          <li class="tab" data-tab="customize active">
             <span class="icon icon-edit"></span>
          </li>
       </ul>
       <div class="tab-container">
         <!-- APP CUSTOMIZATION  -->
         <div id="customize" class="tab-content active">
            <div class="nav-tab">
                 <a v-on:click="activetab=1" v-bind:class="[activetab === 1 ? 'active' : '']" class="tab-link">Add logo</a>
                 <a v-on:click="activetab=2" v-bind:class="[activetab === 2 ? 'active' : '']" class="tab-link">Add spalsh screen</a>
                 <a v-on:click="activetab=3" v-bind:class="[activetab === 3 ? 'active' : '']" class="tab-link">Edit layout</a>
             </div>
             <div class="nav-content">
                <div v-if="activetab === 1" class="tabcontent">
                  <div class="tab-wrapper">
                     <form action="/" method="POST" class="form" @submit="onSubmit">
                        <div class="form__width__min">
                           <div class="form-group form--text--box">
                              <input type="hidden" name="action" value="add_logo"> 
                              <input v-model="appname" name="appname" title="App Name" type="text" data-required="true" class="effect-16"> 
                              <label>App Name</label> 
                              <span class="focus-border"></span>
                           </div> 
                           <div class="file-upload">
                              <h6>Add Logo</h6> 
                              <div class="image_picker">
                                 <div class="image_picker_wrap">
                                    <div class="image_preview">
                                       <a class="disabled image-remove-handler">
                                          <span class="icon icon-delete"></span>
                                       </a>
                                    </div> 
                                    <label class="drop_target">
                                       <span><img src="images/upload.png">Drop file here to upload or choose file</span> 
                                       <input  title="App icon" @change="previewImage" data-required="true" data-size="150,150" data-square="true" name="appicon" id="inputFileAppIcon" type="file" accept="image/*">
                                    </label>
                                 </div> 
                                 <p>Please upload PNG file. Recommended size 150px X 150px</p>
                              </div>
                           </div> 
                           <div class="form__save__section">
                              <ul>
                                 <li><button class="form__button__bottom">Save</button>
                                 </li> 
                                 <li><button class="form__button__bottom" v-on:click="activetab=2" v-bind:class="[activetab === 2 ? 'active' : '']">Next</button></li>
                              </ul>
                           </div>
                        </div>
                     </form>
                     <div class="preview">
                        <div class="mobile-container">
                           <div class="device-frame-container">
                              <div class="ios-device device-frame">
                                 <img src="/images/device/iphone.png">
                              </div> 
                              <div class="screen screen-ios">
                                 <div class="screen-inner-wrapper">
                                    <div class="inner-screen">
                                       <div class="home-screen-ios">
                                          <div class="app-icon-home" v-if="imageData.length > 0">
                                             <div class="app-icon" v-bind:style="{ 'background-image': 'url(' + imageData + ')' }"></div> 
                                             <div class="app-name-home">
                                                <div class="app-name">{{appname}}</div>
                                             </div>
                                          </div> 
                                          <div class="app-icon-overlay-hide">

                                          </div> 
                                          <img src="/images/device/home.jpg" class="screenshot">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                </div>


                <div v-if="activetab === 2" class="tabcontent">
                     <div class="tab-contents-wrapper">
                           <form action="" method="POST" class="form">
                             <input type="hidden" name="action" value="add_splash" />
                             <div class="form__width__min">
                                <div class="form-group form--text--box">
                                    <input type="hidden" name="action" value="add_logo"> 
                                    <input v-model="splashname" name="splashname" title="App Name" type="text" data-required="true" class="effect-16"> 
                                    <label>Splash logo Name</label> 
                                    <span class="focus-border"></span>
                                 </div> 

                                 <div class="splashscreen__colour__change margin--top--bottom">
                                    <h6>Text Color</h6>
                                    <div class="color-round-outer">
                                      <span class="color-round splashTextColor red" v-on:click="selectColor" data-color="#f64044"></span>
                                      <span class="color-round splashTextColor green" v-on:click="selectColor" data-color="#6ca95c"></span>
                                      <span class="color-round splashTextColor blue" v-on:click="selectColor" data-color="#6ac0e3"></span>
                                      <!-- <div class="more-color">
                                        <span class="color-round add-color">
                                          <img src="images/plus.png" />
                                          <input type="color" @change="colorPicker($event)">
                                        </span>
                                      </div> -->
                                    </div>
                                  </div>

                                 <div class="file-upload">
                                    <h6>Add Splash Logo</h6> 
                                    <div class="image_picker">
                                       <div class="image_picker_wrap">
                                          <div class="image_preview">
                                             <a class="disabled image-remove-handler">
                                                <span class="icon icon-delete"></span>
                                             </a>
                                          </div> 
                                          <label class="drop_target">
                                             <span><img src="images/upload.png">Drop file here to upload or choose file</span> 
                                             <input title="App icon" data-size="150,150" @change="previewImage" name="appicon" id="inputFileAppIcon" type="file" accept="image/x-png">
                                          </label>
                                       </div> 
                                       <p>Please upload PNG file. Recommended size 150px X 150px</p>
                                    </div>
                                 </div> 
                               <div class="splashscreen__colour__change margin--top--bottom">
                                 <h6>Background Color</h6>
                                 <div class="color-round-outer">
                                   <span class="color-round splashBackground red" v-on:click="selectColor" data-color="#f64044"></span>
                                   <span class="color-round splashBackground green" v-on:click="selectColor" data-color="#6ca95c"></span>
                                   <span class="color-round splashBackground blue" v-on:click="selectColor" data-color="#6ac0e3"></span>
                                   <div class="more-color">
                                     <span class="color-round add-color">
                                       <img src="images/plus.png" />
                                       <input type="color" @change="colorPicker($event)">
                                     </span>
                                   </div>
                                 </div>
                               </div>
                               <div class="custom-splash-screen">

                                 <div class="checkbox">
                                   <label>
                                     <input type="checkbox" value="checkSplash" v-model="checkSpalsh"/>
                                     Use Custom Splash Screen <span class="checkmark"></span>
                                   </label>
                                 </div>
                                 <div class="custom-splash-wrapper">
                                   <div class="is-custom-splash-screen" v-bind:hidden="checkSpalsh"></div>
                                   <div class="file-upload">
                                     <div class="image_picker">
                                       <div class="image_picker_wrap">
                                         <div class="image_preview">
                                           <a class="image-remove-handler" v-bind:class="{'disabled': !checkSpalsh}">
                                             <span class="icon icon-delete"></span>
                                           </a>
                                         </div>
                                         <label class="drop_target">
                                           <span><img src="images/upload.png" />Drop file here to
                                             upload or choose file</span>
                                           <input data-size="320,680" name="customSplash" v-bind:disabled="!checkSpalsh" @change="previewImage" id="inputFileSplashScreen" type="file" accept="image/x-png,image/jpeg"/>
                                         </label>
                                       </div>
                                       <p>
                                          Please upload PNG/JPG file. Recommended size 320px X 680px
                                       </p>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                               <div class="form__save__section">
                                 <ul>
                                   <li><button class="form__button__bottom">Save</button></li>
                                   <li><button class="form__button__bottom" v-on:click="activetab=3" v-bind:class="[activetab === 3 ? 'active' : '']">Next</button></li>
                                 </ul>
                               </div>
                             </div>
                           </form>
                           <!-- Mobile screen -->
                           <div class="mobile-container">
                                <div class="inner-mobile-container">
                                      <div class="tab-container-device-types">
                                        <div class="tab-switch-appify tab-switch-ios active">
                                            <span class="icon icon-iOS"></span>
                                           IOS
                                        </div>
                                        <div class="tab-switch-appify tab-switch-android">
                                            <span class="icon icon-android"></span>
                                            Android
                                         </div>
                                      </div>
                                      <div class="device-preview-area-tab">
                 
                             <div class="device-frame-container">
                               <div class="ios-device device-frame">
                                 <img src="/images/device/iphone.png" />
                               </div>
                               <div class="screen screen-ios">
                                 <div class="screen-inner-wrapper">
                                   <div class="inner-screen">
                                     <div class="splash-ios">
                                       <div class="splash-bg" v-bind:style="[ imageData? { 'background': 'url(' + imageData + ')' } : {color: currColor}]"></div>
                                       <div class="splash-logo"></div>
                                       <div class="app-name-splash">{{splashname}}</div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                             </div>
                             </div>
                             </div>
                           </div>
                           <!-- Mobile screen -->
                         </div>
               </div>


               <div v-if="activetab === 3" class="tabcontent">
                  content 3
               </div>
             </div>
         </div>
       </div>
    </div>
 </main>
 <script src="js/vue.js"></script>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/app.js"></script>
</body>

</html>
 