.landing-bg {
  min-height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  // background: linear-gradient(to right, rgba(246, 64, 68, 1) 0%, rgba(43, 18, 43, 1) 100%);
  .container-sm {
    padding-top: 120px;
    max-width: 1120px !important;
  }
  .slide-content {
    
    .image-wrapper {
        max-width: 350px;
        min-width: 350px;
      img {
        width: 100%;
      }
    }
    .description {
      h2 {
        margin-bottom: 15px;
      }
      margin-top: 90px;
      h2 {
        margin-bottom: 15px;
      }
      ul {
        max-width: 100%;
        li .feature-text {
          font-size: 14px;
        }
      }
    }
  }

  .slick-track{
      .slick-slide{
          &:nth-child(odd){
            .image-wrapper {
                max-width: 288px;
                min-width: 288px;
            }
          }
      }
  }
}

.slide-content ul {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 50%;
  }
}
