.subscription-page-inner {
  display: block;
  float: left;
  width: 100%;
  display: block;
  color: #494949;
  .container-inner-wrapper {
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    &.subscribe-status-message {
      display: none;
      &.active {
        display: block;
      }
    }
  }

  .subscrition-app-content {
    width: 60%;
    max-width: 900px;
    padding: 40px 20px;
    h4 {
      color: #000000;
      font-weight: 600;
    }
    .page-heading {
      margin-bottom: 40px;
    }
    .magin-bottom-15 {
      padding-bottom: 15px;
    }
  }
}
.tab-subscription {
  padding: 0 !important ;
}
.fetaures-list {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  margin-top: 50px;
  li {
    display: inline-block;
    width: 50%;
    float: left;
    margin-bottom: 20px;
    span {
      &.f-icon-holder {
        width: 43px;
        height: 43px;
        background-color: #000;
        display: inline-block;
        border-radius: 50%;
        background-size: 22px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 12px;
        transition: all ease 0.3s;
      }
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) span {
        &.f-icon-holder {
          background-image: url(../images/feature-#{$i}.png);
        }
      }
    }

    .feature-name {
      position: relative;
      top: -15px;
      color: #000000;
      font-size: 18px;
      font-style: normal;
      font-stretch: normal;
      font-weight: 400;
      text-align: stretch;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0px;
    }

    &:hover,
    :focus,
    &:active {
      color: $color-red;
      .f-icon-holder {
        background-color: $color-red;
      }
    }
  }
}
.right-plan {
  display: flex;
  flex: auto;
  padding: 40px 20px;
  .plan-box {
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.4);
    max-width: 460px;
    width: 100%;
    border-radius: 7px;
    .plan-head {
      margin-top: 45px;
      position: relative;
      padding: 4px 15px 4px 33px;
      &:before {
        content: "";
        width: 3px;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $color-red;
        left: 0;
      }
      .row-split {
        &.p-head {
          color: #000;
          font-weight: 500;
          font-size: 24px;
        }
        &.p-amount {
          color: $color-red;
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }

  .plan-details {
    padding: 10px 33px;
    ul {
      list-style: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        position: relative;
        padding-left: 20px;
        border-bottom: solid 1px #e9e9e9;
        padding: 18px 20px;
        &:before {
          content: "";
          width: 6px;
          height: 2px;
          background-color: #b8b8b8;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
}

.subscribe-button {
  padding: 20px 33px 30px;
  .btn-subscribe {
    width: 100%;
    background-color: $color-red;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    height: 50px;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
    text-decoration: none;
    display: inline-block;
    &:hover,
    &:focus {
      background-color: darken($color-red, 15);
    }
  }
}
.subscription-banner {
  display: block;
  width: 100%;
  background-image: url(../images/subscription@2x.png);
  background-size: cover ;
  background-repeat: no-repeat;
  .slider-banner-subscribe {
    display: block;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;

    > li {
      display: block;
      list-style: none;
      list-style-type: none;
      width: 100%;
    }

    .slide-content {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      height: 200px;
      .banner-captions {
        text-align: center;
        max-width: 500px;
        .captions-wrapper {
          display: inline-block;
          text-align: left;
        }
        h2 {
          font-weight: 600;
          font-size: 29px;
          margin-bottom: 18px;
          .highlight {
            color: $color-red;
          }
        }

        p {
          font-size: 13px;
        }
      }
    }
  }

  .slick-dots {
    bottom: 20px !important ;
    li {
      width: 8px !important ;
      height: 8px !important ;
      border-radius: 50%;
      margin-right: 5px;
      background-color: transparent;
      border: solid 1px #fff;
      &.slick-active {
        background-color: #fff;
      }
    }
  }
}

/*Response Message*/

.status-screen-wrapper {
  min-height: 400px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  .status-message-inner {
    display: inline-flex;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .icon-status {
    margin-bottom: 40px;
  }
  h4 {
    font-size: 24px;
    color: #000;
    font-weight: 600;
  }
  .status-message-info {
    color: #7f7f7f;
    margin-top: 15px;
  }
}
