.mobile-container {
  // width: 600px ;
  // background-color: #999 ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.device-frame-container {
  display: inline-block;
  position: relative;
  // padding-bottom: 50px;
  .screen {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    .inner-screen {
      /*Common class for*/
    }
  }
  .device-frame {
    img {
      vertical-align: middle;
    }
  }

  .mobile-header {
    display: flex;
    flex: auto;
    flex-direction: column;
  }
  .screenshot {
    width: 100%;
  }
  .tab-bottom {
    display: flex;
    flex: auto;
  }
  .page {
    display: flex;
    flex: auto;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    position: relative;
    .page-contents-absolute {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
    }
  }
  .screen-inner-wrapper {
    display: flex;
    position: relative;
    width: 100%;
  }
  .title-wrapper-main {
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 0;
    top: 0;
  }
  .title-wrapper {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 99%;
    float: left;
    margin-top: 4px;
  }
  .search-bar-container {
    height: 56px;
    width: 100%;
    // background: #00f;
    display: flex;
    float: left;
    flex: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.1);
    }
    .search-bar-input {
      width: 94%;
      position: relative;
      height: 43px;
      background-color: #fff;
      border-radius: 25px;
      z-index: 1;
      align-items: center;
      display: flex;
      padding-left: 60px;
      position: relative;
      &:before {
        width: 30px;
        height: 30px;
        display: inline-block;
        // background-color: #000 ;
        content: "";
        position: absolute;
        left: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-image: url(/assets/images/device/icon-search.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .search-placeholder {
        color: #a2a2a2;
        font-weight: normal;
        font-size: 14px;
      }
    }
  }
  .page-banner {
    position: relative;
    margin-bottom: 55px;
    .search-input {
      position: absolute;
      height: 50px;
      // background-color: #f00 ;
      // opacity: .1;
      bottom: -25px;
      right: 0;
      left: 0;
      width: 100%;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      .input-search-wrapper {
        background-color: #fff;
        width: 94%;
        height: 45px;
        position: relative;
        border-radius: 45px;
        display: flex;
        align-items: center;
        padding-left: 60px;
        color: #a2a2a2;
        font-size: 15px;
        box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.4);
        .button-action {
          border-radius: 25px;
          width: 45px;
          height: 45px;
          position: absolute;
          left: -2px;
          display: flex;
          background-image: url(/assets/images/device/icon-search-light.png);
          background-size: 22px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .tabs-container {
    margin: 10px 30px;
  }

  .page-contents-layout-2 {
    position: relative;
    .page-2-viewall {
      position: absolute;
      right: 28px;
      top: 15px;
      font-size: 14px;
    }
  }
}

.custom-splash-wrapper,
.custom-splash-wrapper {
  position: relative;
  .is-custom-splash-screen {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 55;
  }

  .background-color{
    margin: 40px 0 !important ;
  }
}

#create-splash-screen{
  .bottom-save-section {
    margin-top: 13px !important;
}
}
.color-input-wrap{
  padding: 14px 0;
  input[type="text"]{
    border: solid 1px #cfcfcf;
    width: 125px;
    height: 38px;
    border-radius: 4px;
    outline: none;
    padding: 0 15px;
  }
}



.app-link{
  margin-bottom: 100px !important;
}


div[data-pickername]{
  position: relative;
  display: inline-block ;
}
/*Validation class*/
.error-validation {
  color: #f64044;
  padding: 4px 0;
  font-size: 15px;
}
.color-picker-pop {
  display: none;
}
.popup-open {
  z-index: 66 !important;
  .color-picker-pop {
    display: block;
    left: 100%;
    top: 60px;
    bottom: 0;
    margin: auto;
  }
}
.file-upload .drop_target .image_preview {
  background-size: contain !important;
}
.more-color {
  position: relative;
  top: 0;
  z-index: 50;
}

#popular-colors .color-round {
  width: 30px;
  height: 30px;
  margin: 0 13px 10px 10px;
}
.color-pellets-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*Tabs section style ovveride*/
.tab-contents-wrapper {
  display: flex;
  .form,
  .mobile-container {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-start ;
        max-width: calc(100%-640px);
  }
  .mobile-container{
    max-width: 700px;
    position: relative;
    top: -2px;
    .inner-mobile-container{
      width: 100% ;
      max-width: 700px;
      .tab-container-device-types{
        display: flex ;
        flex-direction: row ;
        border-top: solid 1px #ececec;
        .tab-switch-appify{
          display: flex ;
          flex: auto ;
          justify-content: center ;
          align-items: center ;
          height: 50px;
          cursor: pointer;
          position: relative;
          color: #000 ;
          max-width: 50% ;
          .icon{
            font-size: 20px;
            margin-right: 8px;
            position: relative ;
            top: -3px;
          }
          &.tab-switch-android{

            color: #999 ;
            cursor: default ;
          }
          &:after{
            content: "" ;
            display: block ;
            position: absolute ;
            right: 0 ;
            top: 0 ;
            left: 0 ;
            height: 1px;
            background-color: #e4e4e4 ;
          }
          &.active{
            color: $color-red ;
            &:after{
              background-color: $color-red ;
              height: 2px;
            }
          }
        }
      }
    }
  }
  .device-preview-area-tab{
    // background-color: #f64044 ;
    justify-content: center ;
    align-items: center ;
    display: flex ;
    padding: 30px 0 10px;
  }
}
/*
Color picker spirite
Overwriting plugins image path
*/
.minicolors-sprite {
  background-image: url(/assets/images/jquery.minicolors.png);
}
.form-width-min{
  max-width: 800px;
  margin-right:30px;
  padding-top: 50px;
}
// Overwriting volors pickers style
.custom-color-picker-container {
  text-align: center;
}
.minicolors-panel.minicolors-slider-hue {
  border: none;
}
/*Ajax Loader*/
.tab-container {
  position: relative;
  .ajax-loader {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
    display: none;
    &.loading {
      display: block;
    }
  }
}

/*Toaster*/

.toast-success {
  background-color: #000000 !important;
  box-shadow: none !important ;
}

// #edit-color-palette{
//   .background-color{
//     padding-top: 20px;
//   }
// }

.more-color .color-round.add-color {
  transition: all ease 0.3s;
}
.more-color.popup-open {
  .color-round.add-color {
    transform: rotate(40deg);
  }
}
/*Tabs style ends here */

/*Color popup overlay*/
.color-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 60;
  display: none;
}
.popup-overlay {
  .color-popup-overlay {
    display: block;
  }
}
.button-subscribe{
  border: solid 1px #000;
  background: transparent;
  padding: 7px 20px;
  min-width: 200px;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease .2s ;
  &:hover,&:focus,&:active{
    background-color: #000 ;
    color: #fff;
  }
}
/*Prevent upload*/
.file-upload {
  position: relative;
  
  .hide-upload {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 50;
  }
}

#home .slider {
  opacity: 0;
}
.landing-bg {
  .container.container-sm {
    max-height: 100vh;
  }
}

#home.active {
  .landing-bg {
    .container.container-sm {
      max-height: initial;
    }
  }
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  .close {
    cursor: pointer;
  }
  .modal-content {
    border: transparent !important ;
    box-shadow: 0px 10px 9px -7px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  @media (max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}


.select-box-area select {
  padding: 5px 5px 8px 0;
  border: none;
  border: none;
  border-bottom: 1px solid #f64044;
  width: 100%;
  height: 35px;
}
#preview {
  .modal-dialog {
    max-width: 482px !important;
  }
}
.clearfix{
  display: block ;
  clear: both;
}

.primary-bg {
  transition: all ease 0.3s;
  background-color: #f64044;
}
.primary-color {
  transition: all ease 0.3s;
  color: #f64044;
}
.secondary-color {
  transition: all ease 0.3s;
  color: #fff;
}
.accent-bg {
  transition: all ease 0.3s;
  background-color: #333;
}


#subscribe-app .tab-contents-wrapper{
  padding-left: 0 !important ;
}
#preview-app .tab-contents-wrapper{
  padding-top: 50px !important ;
}