.ios-device {
  position: relative;
  z-index: 2;
  display: block;
  padding: 0;
  margin: 0;
}
.screen-ios {
  border-radius: map-get($sreen-ios, "radius");
  display: flex;
  .screen-inner-wrapper {
    padding: #{map-get($sreen-ios, "paddingTop")} #{map-get(
        $sreen-ios,
        "paddingRight"
      )} #{map-get($sreen-ios, "paddingBottom")} #{map-get(
        $sreen-ios,
        "paddingLeft"
      )};
  }
  .inner-screen {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;

    .ios-header {
      height: #{map-get($sreen-ios, "headerHeight")};
      min-height: #{map-get($sreen-ios, "headerHeight")};
      max-height: #{map-get($sreen-ios, "headerHeight")};
      display: flex;
      width: 100%;
      flex-direction: column;
      .notch {
      }
      .ios-notch {
        display: flex;
        flex: auto;
        flex-direction: row;
      }

      .header-main-nav {
        height: #{map-get($sreen-ios, "headerNav")};
        // background-color: #00f;
        min-height: #{map-get($sreen-ios, "headerNav")};
        max-height: #{map-get($sreen-ios, "headerNav")};
        display: flex;
        flex: auto;
        flex-direction: row;
      }

      /* Header blocks */
      .header-blocks-nav {
        display: flex;
        flex: auto;
        padding: 0;
        position: relative;
        &.ios-title-header {
          max-width: 60%;
          min-width: 60%;
          // background-color: #00f ;
          justify-content: center;
          box-sizing: border-box;
        }
        &.ios-qrcode-header {
          justify-content: center;
          align-items: center;
          .qr-code-wrapper {
            width: 23px;
            position: relative;
            top: 1px;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        &.ios-cart-header {
          justify-content: center;
          align-items: center;
          .cart-wrapper {
            width: 34px;
            img {
              width: 100%;
              height: auto;
            }
          }
        }

        &.notch-time,
        &.notch-status {
          width: 50%;
          max-width: 50%;
        }
        &.notch-time {
          padding-left: 24px;
          padding-top: 9px;
          font-size: 12px;
        }
        &.notch-status {
          justify-content: flex-end;
          .status-bar-icon {
            padding-right: 13px;
            padding-top: 4px;
            img {
              width: 55px;
            }
          }
        }
      }
    }
  }
}
.tab-bottom {
  &.tab-ios {
    height: #{map-get($sreen-ios, "tabHeight")};
    min-height: #{map-get($sreen-ios, "tabHeight")};
    max-height: #{map-get($sreen-ios, "tabHeight")};
  }
}
