@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}/Roboto-Light.woff2') format('woff2'),
        url('#{$font-path}/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}/Roboto-Regular.woff2') format('woff2'),
        url('#{$font-path}/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}/Roboto-Medium.woff2') format('woff2'),
        url('#{$font-path}/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans-Light.woff2') format('woff2'),
        url('#{$font-path}/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans-Regular.woff2') format('woff2'),
        url('#{$font-path}/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans-Bold.woff2') format('woff2'),
        url('#{$font-path}/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}/OpenSans-SemiBold.woff2') format('woff2'),
        url('#{$font-path}/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
