a {
	&, &:hover, &:focus {
		text-decoration: none;
	}
}

form.form {
	min-width: 620px;
}
.form__save__section {
	margin-top: 50px;
	ul {
		display: flex;
		list-style: none;
		padding-left: 0;
	}
	li {
		margin-right: 10px;
	}
}
button {
	font-family: "Josefin Sans",sans-serif;
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    width: 120px;
    text-align: center;
    transition: all .2s ease;
    background-color: transparent;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 30px;
    font-size: 16px;
}