
@font-face {
  font-family: 'appify';
  src:  url('#{$font-path}/appify.eot?8bhs34');
  src:  url('#{$font-path}/appify.eot?8bhs34#iefix') format('embedded-opentype'),
    url('#{$font-path}/appify.ttf?8bhs34') format('truetype'),
    url('#{$font-path}/appify.woff?8bhs34') format('woff'),
    url('#{$font-path}/appify.svg?8bhs34#appify') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'appify' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
  color: #fff;
}
.icon-customize-design:before {
  content: "\e901";
}
.icon-delete:before {
  content: "\e902";
}
.icon-dollor:before {
  content: "\e903";
}
.icon-drop:before {
  content: "\e904";
}
.icon-edit:before {
  content: "\e905";
}
.icon-feature-one:before {
  content: "\e906";
}
.icon-feature-three:before {
  content: "\e907";
}
.icon-feature-two:before {
  content: "\e908";
}
.icon-iOS:before {
  content: "\e909";
  color: #f64044;
}
.icon-lifebuoy:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
  color: #f64044;
}
.icon-plus-button:before {
  content: "\e90c";
}
.icon-push-notification1:before {
  content: "\e90d";
}
.icon-reliability-speed1:before {
  content: "\e90e";
}
.icon-summary:before {
  content: "\e90f";
}
.icon-view:before {
  content: "\e910";
}
.icon-android:before {
  content: "\e911";
}
.icon-bell:before {
  content: "\e912";
}
.icon-customize-design1:before {
  content: "\e915";
}
.icon-push-notification:before {
  content: "\e916";
}
.icon-reliability-speed:before {
  content: "\e917";
}
