@import "tabs/logo";
@import "tabs/splash";
@import "tabs/edit-layout";

.tab-container,
.tab-content {
    width: 100%;
}
.tab-wrapper {
    display: flex;
    justify-content: space-between;
}
.nav-tab {
    display: flex;
    border-bottom: 1px solid #ddd;
    .tab-link {
        display: block;
        padding: 30px 30px;
        cursor: pointer;
        color: #6586FF;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background: #6586FF;
            transition: all ease-in 0.25s;
        }
        &.active {
            &:after {
                width: 100%;
            }
        }
    }
}

.nav-content {
    padding: 90px 30px 30px;
}
input[type="color"] {
    position: absolute;
    width: 38px;
    height: 38px;
    -webkit-appearance: none;
    border: 0;
    border-radius: 50%;
    display: block;
    box-shadow: none;
    opacity: 0;
    top: 0;
}