html,body {
	font-family: $font-family;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-family-2;
}

p {
	@include font-size(16px);
	font-family: $font-family;
}

h1 {
	@include font-size(42px);
}
h2 {
	@include font-size(36px);
}
h3 {
	@include font-size(30px);
}
h4 {
	@include font-size(24px);
}
h5 {
	@include font-size(20px);
}
h6 {
	@include font-size(16px);
	font-family: $font-family;
}