.layout-wrapper {
  display: block;
  float: left;
  width: 100%;
  margin-top: 66px;
  .layout-option-list {
    
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    li {
      display: block;
      width: 100%;
      margin-bottom: 4px;
      .layout-option-list-wrapper {
        position: relative;
        display: inline-block;
        input {
          display: none;
          & + label {
            position: relative;
            cursor: pointer;
            &:before {
              content: "";
              display: inline-block;
              width: 27px;
              height: 27px;
              border: solid 2px #dcdcdc;
              border-radius: 2px;
              margin-right: 10px;
              position: relative;
              top: 4px;
              border-radius: 50%;
            }
          }

          &:checked {
            & + label {
              &:before {
                background-color: #f64044 ;
                background-image: url(/assets/images/tick.png);
                background-size: 13px ;
                background-repeat: no-repeat ;
                background-position: center ;
                border-color: #f64044 ;
              }
            }
          }
        }
      }
    }
  }
}

