// paths 
$image_path : "../images";
$font_path  :  "../fonts";

$font-roboto: 'Roboto', sans-serif;
$font-sans: 'Open Sans', sans-serif;

$font-family: $font-roboto;
$font-family-2: $font-sans;

$color-red: #F64044;
$color-cyan: #6AB3AF;
$color-blue: #6BC1E0;
$color-green: #67AB58;
$color-violet: #9836DD;
$color-dark: #000000;
$color-grey: #C6C6C6;
$color-white: #fff;
$color-light: lighten($color-white, 0.5);

$border-color: $color-grey;

$screen-xs : 480px;
$screen-sm : 641px;
$screen-tab : 769px;
$screen-md : 992px;
$screen-lg : 1024px;
$screen-xl : 1200px;
$screen-xxl : 1280px;
$screen-xlg : 1440px;
$screen-xxlg : 1640px;

$grid-gutter-width-base : 30px;

$grid-breakpoints: (
  xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
  xxl: $screen-xxl,
);